doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      dl {border:2px solid #000;}
      dt {border-top:1px solid #000;}
      dt:first-child{border-top:0}
  body
    block content
